{% include 'employeeapp/emp_header.html' %}
<h1 align="center"> AVAILABLE ITEMS</h1>
    <form>
        <table border="1" align="center" class="" >
                <tr>
                    <th>items name</th>
                    <th>quantity</th>
                </tr>
                {% for i in data %}
                <tr>
                     <td>{{i.item_name}}</td>
                     <td>{{i.count}}</td>
                     <td><a href="{% url 'booking_item' itemid=i.id %}?itemid=i.id">booking item</a></td>
                     <td><a href="{% url 'delever_item' itemid=i.id %}?itemid=i.id">rent</a></td>
                </tr> 
                
                {% endfor %}   
                    
        </table>
    </form>
    {% include 'employeeapp/emp_footer.html' %}